$gray-00: #dee2e6;
$gray-0: #eaeced;
$gray-1: #F2F2F2;
$gray-2: #6F6F6F;
$gray-3: #9ba3a6;
$gray-4: #3c3f48;
$gray-5: #2B3142;

$blue-0 : #f5fbff;
$blue-1 : #ebf8ff;
$blue-2 : #5c707a;
$blue-3 : #ccedff;

$green-0 : #f7fff5;
$green-1 : #efffec;
$green-2 : #62C344;

$ye-0: #fffdf5;
$ye-1: #fffbeb;
$ye-2: #fff6cc;
$ye-3: #fff5c1;
$ye-4: #7b765d;

$rd-0: #fff6f7;
$rd-1: #ffecef;
$rd-2: #ffcdd5;
$rd-3: #ffc1cb;
$rd-4: #7a5c61;

$og-0: #fff8f5;
$og-1: #fff2eb;
$og-2: #ffddcc;
$og-3: #ffd6c1;
$og-4: #7a665c;

$vi-0: #f9f5ff;
$vi-1: #f2ecff;
$vi-2: #ddccff;
$vi-3: #d6c1ff;
$vi-4: #665c79;

$lm-0: #fbfff5;
$lm-1: #f8ffeb;
$lm-2: #edffcc;
$lm-3: #eaffc1;
$lm-4: #717b5d;

$fs-0: #fdf6ff;
$fs-1: #fcecff;
$fs-2: #f6ccff;
$fs-3: #f6ccff;
$fs-4: #755c7a;